<application>
  <component name="MyBatisCodeHelper">
    <option name="profile">
      <Profile>
        <option name="userMacSet">
          <set>
            <option value="4A-89-E7-58-A9-44" />
          </set>
        </option>
        <option name="valid" value="true" />
      </Profile>
    </option>
  </component>
</application>