<application>
  <component name="MyBatisCodeHelper">
    <option name="profile">
      <Profile>
        <option name="userMacSet">
          <set>
            <option value="00-E0-4C-36-07-62" />
            <option value="0025_3885_91" />
            <option value="4A-89-E7-58-A9-44" />
            <option value="BA-C3-59-1D-7C-3A" />
          </set>
        </option>
        <option name="valid" value="true" />
      </Profile>
    </option>
  </component>
</application>